In [6]:
import pandas as pd

In [7]:
pd.read_csv("data/seeClickFix.csv").dtypes

id                   int64
status              object
summary             object
description         object
lat                float64
lng                float64
address             object
created_at          object
acknowledged_at     object
closed_at           object
url                 object
dtype: object

In [9]:
issues_df = pd.read_csv("data/seeClickFix.csv")
issues_df.head()

,id,status,summary,description,lat,lng,address,created_at,acknowledged_at,closed_at,url
0,8763255,Acknowledged,Police General Issue,drug house at 3116 SE Emerson St Raven Coats a...,39.010001,-95.674248,"3116 Se Emerson St Topeka, KS 66605, USA",2020-10-15T08:49:07-04:00,2020-10-15T08:49:28-04:00,NaN,https://seeclickfix.com/api/v2/issues/8763255
1,8887542,Archived,Property Maintenance & Code Violations,Neighbor blowing leaves in her yard into the s...,39.003096,-95.701271,1917 Sw Tara Ave Topeka Ks 66611,2020-11-09T14:47:16-05:00,2020-11-09T14:47:27-05:00,2020-11-18T18:10:41-05:00,https://seeclickfix.com/api/v2/issues/8887542
2,8759788,Acknowledged,Mailbox Install/Repair/Replacement,got a call about a mailbox that was disturbed ...,39.009192,-95.939654,"13724 Sw 33rd St Topeka, KS, 66614, USA",2020-10-14T16:39:36-04:00,2020-10-14T16:39:38-04:00,NaN,https://seeclickfix.com/api/v2/issues/8759788
3,8759866,Acknowledged,Street Sign Repair,This is an unsafe intersection next to a schoo...,39.039762,-95.694420,"1510 Sw Lane St Topeka 66604, United States",2020-10-14T16:59:16-04:00,2020-10-14T16:59:23-04:00,NaN,https://seeclickfix.com/api/v2/issues/8759866
4,8759341,Acknowledged,Property Maintenance & Code Violations,Neighbor across the street isn’t maintaining t...,39.036108,-95.648617,"2036 Se 11th Terr Topeka 66607, United States",2020-10-14T15:11:24-04:00,2020-10-14T16:06:01-04:00,NaN,https://seeclickfix.com/api/v2/issues/8759341

AttributeError: 'DataFrame' object has no attribute 'unique'

In [10]:
issues_df["id"].count()

9080

In [42]:
issues_df["closed_at"].value_counts()

2019-06-17T12:11:13-04:00    11
2019-06-17T12:11:39-04:00     9
2019-06-17T12:00:49-04:00     6
2019-07-17T05:01:08-04:00     6
2019-06-17T12:22:46-04:00     6
                             ..
2020-06-26T09:54:08-04:00     1
2020-02-28T12:42:51-05:00     1
2020-08-10T23:00:58-04:00     1
2019-10-23T15:51:04-04:00     1
2019-08-02T12:53:27-04:00     1
Name: closed_at, Length: 7877, dtype: int64

In [45]:
open_issues_df = issues_df.loc[issues_df["closed_at"] == "", : ]

In [46]:
open_issues_df.describe()

        id  lat  lng
count  0.0  0.0  0.0
mean   NaN  NaN  NaN
std    NaN  NaN  NaN
min    NaN  NaN  NaN
25%    NaN  NaN  NaN
50%    NaN  NaN  NaN
75%    NaN  NaN  NaN
max    NaN  NaN  NaN